@page "/"
@using LeapAI.Net.SDK.ObjectModels.RequestModels;
@using LeapAI.Net.SDK.ObjectModels.ResponseModels;
@using LeapAI.Net.SDK.ObjectModels;
@using LeapAI.Net.SDK.Services.Image;
@using LeapAI.Net.SDK.Services;
@using LeapAi.Net.Site.Components.Shared;

<PageTitle>LeapAI.Net</PageTitle>

<h1>Hello there!</h1>

<p>
    Welcome to the LeapAI.Net test site. Please visit the 
    <a href="https://www.tryleap.ai/">LeapAI website</a> 
    to retrieve your API key to get started or if you
    experience any issues.
</p>

@if (JobInProgress)
{
    @if (JobDone)
    {
        <p>
            Here are the images generated for your prompt:
        </p>

        @foreach (var image in ImageJobInfo.Images)
        {
            <img src="@image.Uri" />
            <br />
        }

        <button @onclick="GenerateMore">Generate More Images</button>
    }
    else
    {
        <p>
            Image Creation Job generated successfully! 
            Monitoring for completion...
        </p>
        <br />
        <br />
    }    
}
else
{
    <ApiKeyComponent OnValueChanged="ApiKeyChanged" />
    <br />
    <br />

    <PromptComponent OnValueChanged="PromptChanged" />
    <br />
    <br />

    <NumberOfSamplesComponent OnValueChanged="NumberOfSamplesChanged" />
    <br />

    <ChooseModelComponent OnValueChanged="ChosenModelChanged" />
    <br />

    @if(!string.IsNullOrEmpty(ApiKey) && !string.IsNullOrEmpty(Prompt))
    {
        <button @onclick="CreateImageJob">Generate Image</button>
    }
}

<br />
<br />

@code
{
    private string ApiKey { get; set; } = string.Empty;
    private string Prompt { get; set; } = string.Empty;
    private string ChosenModel { get; set; } = PreTrainedModels.RealisticVision2_0;
    private int NumberOfSamples { get; set; } = 1;

    private ImageJobCreateResponse? ImageJob { get; set; }
    private ImageJobResponse? ImageJobInfo { get; set; }

    private bool JobInProgress = false;
    private bool JobDone = false;

    private void ApiKeyChanged(string value)
    {
        ApiKey = value;
    }

    private void PromptChanged(string value)
    {
        Prompt = value;
    }

    private void NumberOfSamplesChanged(int value)
    {
        NumberOfSamples = value;
    }

    private void ChosenModelChanged(string value)
    {
        ChosenModel = value;
    }

    private void GenerateMore()
    {
        JobDone = false;
        JobInProgress = false;

        StateHasChanged();
    }

    private async Task CreateImageJob()
    {
        if (string.IsNullOrEmpty(ApiKey))
            throw new ArgumentNullException(nameof(ApiKey));
        if (string.IsNullOrEmpty(Prompt))
            throw new ArgumentNullException(nameof(Prompt));
        if (string.IsNullOrEmpty(ChosenModel))
            throw new ArgumentNullException(nameof(ChosenModel));

        var imageJobService = new ImageJobService(new LeapAiOptions
        {
            ApiKey = ApiKey,
            ApiVersion = "v1",
            DefaultModelId = ChosenModel
        });

        ImageJobCreateResponse? imageResult = null;

        try
        {
            imageResult = await imageJobService.CreateImageJobAsync(new ImageJobCreateRequest
                {
                    Prompt = Prompt,
                    NegativePrompt = "out of frame, lowres, text, error, cropped, " +
                                     "worst quality, low quality, jpeg artifacts, " +
                                     "ugly, duplicate, morbid, mutilated, out of frame, " +
                                     "extra fingers, mutated hands, poorly drawn hands, " +
                                     "poorly drawn face, mutation, deformed, blurry, " +
                                     "dehydrated, bad anatomy, bad proportions, " +
                                     "extra limbs, cloned face, disfigured, " +
                                     "gross proportions, malformed limbs, missing arms, " +
                                     "missing legs, extra arms, extra legs, fused fingers, " +
                                     "too many fingers, long neck, username, watermark, " +
                                     "signature",
                    NumberOfImages = NumberOfSamples,
                    Height = 1024,
                    Width = 1024,
                    PromptStrength = 15,
                    EnhancePrompt = true,
                    RestoreFaces = true,
                    Steps = 50,
                    Seed = 4523184,
                    UpscaleBy = "x1",
                    Sampler = StaticValues.ImageStatics.Sampler_ddim
                });
        }
        catch (Exception ex)
        {
            // display the error message
            Console.WriteLine($"Error generating image for prompt {Prompt}: {ex.Message}");
            Console.ReadLine();

            return;
        }

        JobInProgress = true;
        ImageJob = imageResult;

        StateHasChanged();

        await CheckImageJob();
    }

    private async Task CheckImageJob()
    {
        if (string.IsNullOrEmpty(ApiKey))
            throw new ArgumentNullException(nameof(ApiKey));
        if (ImageJob == null)
            throw new ArgumentNullException(nameof(ImageJob));
        if (string.IsNullOrEmpty(ImageJob.Id))
            throw new ArgumentNullException(nameof(ImageJob.Id));
        if (string.IsNullOrEmpty(ImageJob.ModelId))
            throw new ArgumentNullException(nameof(ImageJob.ModelId));

        var imageJobService = new ImageJobService(new LeapAiOptions
        {
            ApiKey = ApiKey,
            ApiVersion = "v1",
            DefaultModelId = ImageJob.ModelId
        });

        ImageJobResponse? imageResult = null;

        var attempts = 0;

        while (attempts <= 10)
        {
            try
            {
                imageResult = await imageJobService.GetImageJobAsync(ImageJob.ModelId,
                    ImageJob.Id);
            }
            catch (Exception ex)
            {
                // display the error message
                Console.WriteLine($"Error retrieving image(s): {ex.Message}");
                Console.ReadLine();

                return;
            }

            if (imageResult != null && imageResult.State == "finished")
            {
                ImageJobInfo = imageResult;
                JobDone = true;

                StateHasChanged();
                await Task.Delay(1);

                break;
            }

            attempts++;
            await Task.Delay(60000);
        }
    }    
}