@page "/remix"
@using LeapAI.Net.SDK.ObjectModels.RequestModels;
@using LeapAI.Net.SDK.ObjectModels.ResponseModels;
@using LeapAI.Net.SDK.ObjectModels;

<h1>Remix (COMING SOON)</h1>

<p>
    Welcome to the LeapAI.Net Remix page. Please visit the 
    <a href="https://www.tryleap.ai/">LeapAI website</a> 
    to retrieve your API key to get started or if you
    experience any issues.
</p>

@if(JobInProgress)
{
    
}
else
{
    
}

@code {

    private bool JobInProgress = false;
    private bool JobDone = false;

}
